.darkmode-layer,
.darkmode-toggle {
    z-index: 500;
}

body.darkmode--activated img,
body.darkmode--activated video,
body.darkmode--activated .darkmode-ignore {
    mix-blend-mode: difference;
}

.darkmode--activated a {
    color: #000;
}

body.darkmode--activated .MuiButton-contained {
    background-color: #000 !important;
}

body.darkmode--activated .MuiButton-contained p {
    color: #fff !important;
}

body.darkmode--activated span[role='img'] {
    color: #000 !important;
}

body.darkmode--activated div:not(.MuiBackdrop-root, .MuiDrawer-root) {
    background-color: #fff;
    background-blend-mode: color;
}

body.darkmode--activated h1,
body.darkmode--activated h2,
body.darkmode--activated h3,
body.darkmode--activated h4,
body.darkmode--activated h5,
body.darkmode--activated h6,
body.darkmode--activated p {
    color: #000;
}
