.darkmode-layer,
.darkmode-toggle {
    z-index: 1600;
}

body.darkmode--activated img,
body.darkmode--activated svg,
body.darkmode--activated video,
body.darkmode--activated .darkmode-ignore {
    mix-blend-mode: difference;
}

.darkmode--activated a {
    color: #000;
}

body.darkmode--activated .MuiButton-contained {
    background-color: #000 !important;
    color: #fff !important;
}

body.darkmode--activated .MuiButton-contained p {
    color: #fff !important;
}

body.darkmode--activated span[role='img'] {
    color: #000 !important;
}

body.darkmode--activated div:not(.MuiBackdrop-root, .MuiDrawer-root) {
    background-color: #fff;
    background-blend-mode: color;
}

body.darkmode--activated .MuiFormLabel-root {
    color: #000 !important;
    z-index: 1000;
}

body.darkmode--activated .MuiInput-root {
    color: #000 !important;
    border-bottom: 1px solid #000 !important;
}

.darkmode--activated .MuiCardMedia-root {
    background-blend-mode: difference !important;
}

body.darkmode--activated .MuiAppBar-root,
body.darkmode--activated footer,
body.darkmode--activated footer .MuiBox-root,
body.darkmode--activated footer p {
    background-color: #fff !important;
    color: #000 !important;
}

body.darkmode--activated h1,
body.darkmode--activated h2,
body.darkmode--activated h3,
body.darkmode--activated h4,
body.darkmode--activated h5,
body.darkmode--activated h6,
body.darkmode--activated p,
body.darkmode--activated label {
    color: #000;
}

a {
    color: #3f69ff;
}
